<table id="bracket" CELLSPACING="0" COLS="13" BORDER="0">
  <tr>
    <th>Round 1</th>
    <th>Round 2</th>
    <th colspan="2">Regionals</th>
    <th colspan="5">Final Four</th>
    <th colspan="2">Regionals</th>
    <th>Round 2</th>
    <th>Round 1</th>
  </tr>
  <tr><td colspan="13"></td></tr>
  <TR>
    <TD><% @team= @bracket.lookup_node('64') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('96') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('32') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('48') %></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('65') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('97') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('16') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('24') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('66') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('98') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('33') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('49') %></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('67') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('99') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('8') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('12') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('68') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('100') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('34') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('50') %></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('69') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('101') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('17') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('25') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('70') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('102') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('35') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('51') %></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('71') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('103') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('4') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('6') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('72') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('104') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('36') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('52') %></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('73') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('105') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('18') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('26') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('74') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('106') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('37') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('53') %></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('75') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('107') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('9') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('13') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('76') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('108') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('38') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('54') %></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('77') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('2') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('109') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('19') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('27') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('78') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('110') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('39') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('55') %></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('79') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('111') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('1') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('80') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('112') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('40') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('56') %></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('81') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('113') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('20') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('28') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('82') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('3') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('114') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('41') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('57') %></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('83') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('115') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('10') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('14') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('84') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('116') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('42') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('58') %></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('85') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('117') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('21') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('29') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('86') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('118') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('43') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('59') %></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('87') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('119') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('5') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('7') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('88') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('120') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('44') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('60') %></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('89') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('121') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('22') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('30') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('90') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('122') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('45') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('61') %></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('91') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('123') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('11') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('15') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('92') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('124') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('46') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('62') %></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('93') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('125') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('23') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('31') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('94') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('126') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
  <TR>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('47') %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><%= @bracket.lookup_node('63') %></TD>
    <TD><BR></TD>
  </TR>
  <TR>
    <TD><% @team= @bracket.lookup_node('95') %> <%= render partial: 'teams/edit' %></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><BR></TD>
    <TD><% @team= @bracket.lookup_node('127') %> <%= render partial: 'teams/edit' %></TD>
  </TR>
</TABLE>
