<%= form_for(@bracket, method: :put, remote: true, format: :json) do |f| %>
  <table class='bracket center' id="bracket" data-bracket="<%= @bracket.to_json_client_string %>"
         data-ancestors="<%= @bracket.to_json_ancestor_lookup_string %>"
         data-chat="<%= @user.private_channel %>">
    <tr>
      <th class='center'>Round 1</th>
      <th class='center'>Round 2</th>
      <th class='center' colspan="2">Regionals</th>
      <th class='center' colspan="5">Final Four</th>
      <th class='center' colspan="2">Regionals</th>
      <th class='center'>Round 2</th>
      <th class='center'>Round 1</th>
    </tr>
    <tr>
      <td colspan="6"></td>
      <td>
        <%= render 'brackets/button', locals: {bracket: @bracket, user: @user} %>
      </td>
      <td colspan="6"></td>
    </tr>
    <TR>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '64'}
      %>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '96'}
      %>
    </TR>
    <TR>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '32'}
      %>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '48'}
      %>
      <td class='left_connect'></td>
    </TR>
    <TR>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '65'}
      %>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '97'}
      %>
    </TR>
    <TR>
      <td></td>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '16'}
      %>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '24'}
      %>
      <td class='left_connect'></td>
      <td></td>
    </TR>
    <TR>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '66'}
      %>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='center force-center'><%= @user.name %></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '98'}
      %>
    </TR>
    <TR>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '33'}
      %>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='center force-center'> <% unless @user.admin? %> <%= @user.current_score.to_s %> <% end %> </td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '49'}
      %>
      <td class='left_connect'></td>
    </TR>
    <TR>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '67'}
      %>
      <td></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '99'}
      %>
    </TR>
    <TR>
      <td></td>
      <td></td>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '8'}
      %>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '12'}
      %>
      <td class='left_connect'></td>
      <td></td>
      <td></td>
    </TR>
    <TR>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '68'}
      %>
      <td></td>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <td></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '100'}
      %>
    </TR>
    <TR>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '34'}
      %>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '50'}
      %>
      <td class='left_connect'></td>
    </TR>
    <TR>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '69'}
      %>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '101'}
      %>
    </TR>
    <TR>
      <td></td>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '17'}
      %>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '25'}
      %>
      <td class='left_connect'></td>
      <td></td>
    </TR>
    <TR>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '70'}
      %>
      <td class='right_connect'></td>
      <td></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '102'}
      %>
    </TR>
    <TR>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '35'}
      %>
      <td></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '51'}
      %>
      <td class='left_connect'></td>
    </TR>
    <TR>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '71'}
      %>
      <td></td>
      <td></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td></td>
      <td></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '103'}
      %>
    </TR>
    <TR>
      <td></td>
      <td></td>
      <td></td>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '4'}
      %>
      <td></td>
      <td></td>
      <td></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '6'}
      %>
      <td class='left_connect'></td>
      <td></td>
      <td></td>
      <td></td>
    </TR>
    <TR>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '72'}
      %>
      <td></td>
      <td></td>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <td></td>
      <td></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '104'}
      %>
    </TR>
    <TR>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '36'}
      %>
      <td></td>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <td></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '52'}
      %>
      <td class='left_connect'></td>
    </TR>
    <TR>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '73'}
      %>
      <td class='right_connect'></td>
      <td></td>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <td></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '105'}
      %>
    </TR>
    <TR>
      <td></td>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '18'}
      %>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '26'}
      %>
      <td class='left_connect'></td>
      <td></td>
    </TR>
    <TR>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '74'}
      %>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '106'}
      %>
    </TR>
    <TR>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '37'}
      %>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '53'}
      %>
      <td class='left_connect'></td>
    </TR>
    <TR>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '75'}
      %>
      <td></td>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <td></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '107'}
      %>
    </TR>
    <TR>
      <td></td>
      <td></td>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '9'}
      %>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '13'}
      %>
      <td class='left_connect'></td>
      <td></td>
      <td></td>
    </TR>
    <TR>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '76'}
      %>
      <td></td>
      <td class='right_connect'></td>
      <td></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td></td>
      <td class='left_connect'></td>
      <td></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '108'}
      %>
    </TR>
    <TR>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '38'}
      %>
      <td class='right_connect'></td>
      <td></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '54'}
      %>
      <td class='left_connect'></td>
    </TR>
    <TR>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '77'}
      %>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td></td>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '2'}
      %>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '109'}
      %>
    </TR>
    <TR>
      <td></td>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '19'}
      %>
      <td></td>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '27'}
      %>
      <td class='left_connect'></td>
      <td></td>
    </TR>
    <TR>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '78'}
      %>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '110'}
      %>
    </TR>
    <TR>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '39'}
      %>
      <td></td>
      <td></td>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td></td>
      <td></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '55'}
      %>
      <td class='left_connect'></td>
    </TR>
    <TR>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '79'}
      %>
      <td></td>
      <td></td>
      <td></td>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '111'}
      %>
    </TR>
    <TR>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '1'}
      %>
      <td></td>
      <td class='left_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </TR>
    <TR>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '80'}
      %>
      <td></td>
      <td></td>
      <td></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '112'}
      %>
    </TR>
    <TR>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '40'}
      %>
      <td></td>
      <td></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <td></td>
      <td></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '56'}
      %>
      <td class='left_connect'></td>
    </TR>
    <TR>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '81'}
      %>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '113'}
      %>
    </TR>
    <TR>
      <td></td>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '20'}
      %>
      <td></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <td></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '28'}
      %>
      <td class='left_connect'></td>
      <td></td>
    </TR>
    <TR>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '82'}
      %>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '3'}
      %>
      <td class='left_connect'></td>
      <td></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '114'}
      %>
    </TR>
    <TR>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '41'}
      %>
      <td class='right_connect'></td>
      <td></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '57'}
      %>
      <td class='left_connect'></td>
    </TR>
    <TR>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '83'}
      %>
      <td></td>
      <td class='right_connect'></td>
      <td></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td></td>
      <td class='left_connect'></td>
      <td></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '115'}
      %>
    </TR>
    <TR>
      <td></td>
      <td></td>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '10'}
      %>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '14'}
      %>
      <td class='left_connect'></td>
      <td></td>
      <td></td>
    </TR>
    <TR>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '84'}
      %>
      <td></td>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <td></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '116'}
      %>
    </TR>
    <TR>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '42'}
      %>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '58'}
      %>
      <td class='left_connect'></td>
    </TR>
    <TR>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '85'}
      %>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '117'}
      %>
    </TR>
    <TR>
      <td></td>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '21'}
      %>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '29'}
      %>
      <td class='left_connect'></td>
      <td></td>
    </TR>
    <TR>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '86'}
      %>
      <td class='right_connect'></td>
      <td></td>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <td></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '118'}
      %>
    </TR>
    <TR>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '43'}
      %>
      <td></td>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <td></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '59'}
      %>
      <td class='left_connect'></td>
    </TR>
    <TR>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '87'}
      %>
      <td></td>
      <td></td>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <td></td>
      <td></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '119'}
      %>
    </TR>
    <TR>
      <td></td>
      <td></td>
      <td></td>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '5'}
      %>
      <td></td>
      <td></td>
      <td></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '7'}
      %>
      <td class='left_connect'></td>
      <td></td>
      <td></td>
      <td></td>
    </TR>
    <TR>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '88'}
      %>
      <td></td>
      <td></td>
      <td class='right_connect'></td>
      <td class="chat-header">
        <div id="chat-header-anchor">
          <h3>Heckle Forum</h3>
        </div>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td></td>
      <td></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '120'}
      %>
    </TR>
    <TR class='chat-receipt'>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '44'}
      %>
      <td></td>
      <td class='right_connect'></td>
      <td id="chats-received-anchor">
        <%= render partial: 'brackets/chats/chats_received',
                   locals: {user: @user, heckles: load_users_heckles}
        %>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '60'}
      %>
      <td class='left_connect'></td>
    </TR>
    <TR class='chat-receipt'>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '89'}
      %>
      <td class='right_connect'></td>
      <td></td>
      <td class='right_connect'></td>
      <td class='chat-width-marker'></td>
      <td class='chat-width-marker'></td>
      <td class='chat-width-marker'></td>
      <td class='chat-width-marker'></td>
      <td class='chat-width-marker'></td>
      <td class='left_connect'></td>
      <td></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '121'}
      %>
    </TR>
    <TR class='chat-receipt'>
      <td></td>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '22'}
      %>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '30'}
      %>
      <td class='left_connect'></td>
      <td></td>
    </TR>
    <TR class='chat-receipt'>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '90'}
      %>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '122'}
      %>
    </TR>
    <TR class='chat-receipt'>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '45'}
      %>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '61'}
      %>
      <td class='left_connect'></td>
    </TR>
    <TR class='chat-receipt'>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '91'}
      %>
      <td></td>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <td></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '123'}
      %>
    </TR>
    <TR class='chat-receipt'>
      <td></td>
      <td></td>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '11'}
      %>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '15'}
      %>
      <td class='left_connect'></td>
      <td></td>
      <td></td>
    </TR>
    <TR class='chat-receipt'>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '92'}
      %>
      <td></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '124'}
      %>
    </TR>
    <TR class='chat-receipt'>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '46'}
      %>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '62'}
      %>
      <td class='left_connect'></td>
    </TR>
    <TR class='chat-receipt'>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '93'}
      %>
      <td class='right_connect'></td>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '125'}
      %>
    </TR>
    <TR class='chat-border'>
      <td></td>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '23'}
      %>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '31'}
      %>
      <td class='left_connect'></td>
      <td></td>
    </TR>
    <TR class='chat-border'>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '94'}
      %>
      <td class='right_connect'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='left_connect'></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '126'}
      %>
    </TR>
    <TR class='chat-sending'>
      <td class='right_connect'></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '47'}
      %>
      <td></td>
      <td></td>
      <td id="chat-sending-anchor">
        <%= render partial: 'brackets/chats/chat_to_send',
                   locals: {user: @user}
        %>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <%= render partial: 'brackets/game',
                 locals: {form: f, bracket: @bracket, bracket_locked: @user.bracket_locked?, is_disabled: @disabled, node: '63'}
      %>
      <td class='left_connect'></td>
    </TR>
    <TR class='chat-sending'>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '95'}
      %>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <%= render partial: 'brackets/team',
                 locals: {form: f, bracket: @bracket, node: '127'}
      %>
    </TR>
  </TABLE>
<% end %>
