<div class="center force-center">
  <% provide(:title, 'Send a message to players') %>
  <h2 class="center text-center">Send a group message</h2>

  <%= form_tag admin_messages_path, method: :post do %>
    <div class="allow-top-margin text-center">
      <%= label_tag :subject %>
      <%= text_field_tag :subject %>
    </div>
    <div class="allow-top-margin text-center">
      <%= label_tag :message %>
      <%= text_area_tag :message, nil, escape: false, size: '80x10' %>
    </div>
    <div class="center allow-top-margin force-center">
      <%= submit_tag 'Send Message' %>
    </div>
  <% end %>
</div>
