<%# if signed_in? %>

<%# else %>
<div class="center force-center">
    <% provide(:title, 'Sign in') %>
  <h1 class='center'>Sign in</h1>

  <%= form_for(@user, {class: 'center force-center'}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    <p class="text-right">
      <%= f.label :email %>
      <%= f.text_field :email %>
      </p>

    <p class="text-right">
      <%= f.label :password %>
      <%= f.password_field :password, autofocus: true %>
      </p>

    <p class='center'>
      <%= f.submit "Login", class: 'btn btn-large btn-primary' %>
    </p>
    <% end %>

  </div>
<%# end %>
