<tr>
  <%= scenario.each do |scenario_round| %>
    <%= content_tag :td, class: 'scenario' do %>
      <%= div_for scenario, {class: 'scenario_list'} do %>
        <br>
        <p>
          <%= scenario_round[:scenario].join(',') %>
        </p>
      <% end %>
    <% end %>
    <%= content_tag :td, class: 'results' do %>
      <%= div_for scenario, {class: 'result_list'} do %>
        <br>
        <p>
          <%= scenario_round[:result].join(',') %>
        </p>
      <% end %>
    <% end %>
  <% end %>
</tr>
