<tr>
  <%= content_tag :td, class: 'scenario' do %>
    <%= div_for scenario, {class: 'scenario_list'} do %>
      <br>
      <p>
        <%= scenario.scenario_list.values.join("\n") %>
      </p>
    <% end %>
  <% end %>
  <%= content_tag :td, class: 'results' do %>
    <%= div_for scenario, {class: 'result_list'} do %>
      <br>
      <p>
        <%= scenario.result.join("\n") %>
      </p>
    <% end %>
  <% end %>
</tr>
